services:
  redis:
    image: redis:7.2-alpine

  django:
    container_name: django_celery_project
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app/
    ports:
      - "8000:8000"
    env_file:
      - .env
#    environment:
#      ALLOWED_HOSTS: "localhost,127.0.0.1"
#      DEBUG: "True"
#      SECRET_KEY: "test"
    depends_on:
      - redis

  celery:
    container_name: celery
    build:
      context: .
      dockerfile: Dockerfile
    command: celery --app=config worker -l INFO
    volumes:
      - .:/app/
    env_file:
      - .env
    depends_on:
      - redis

